*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
nav{
    display: flex;
    background-color: #1c2833;
    align-items: center;
    height: 70px;
    width: 100%;
    justify-content: space-between;
    padding: 0px 80px 0px 15px;
    position: fixed;
    top: 0;
}
.hossain img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid red;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style-type: none;
    margin: 0 10px;
}
nav ul li a{
    text-decoration: none;
    font-size: 10px;
    font-weight: 700;
    color: white;
    padding: 5px 8px;
    border-radius: 2px;
    transition: 0.5s;
    text-transform: uppercase;
}

nav ul li a:hover, nav ul li a.active{
    background-color: #566573;
    }
    #click{
        display: none;
    }
    .menu-bar{
        color: white;
        font-size: 20px;
        cursor: pointer;
        display: none;
    }
    /* header section code start here */
    header{
        background-image: url(images/sea.png);
        height: 91vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

    }
    /* first section code start */
    #first-section{
        background-color: #1c2833;
        padding-bottom: 80px;
    }
    .all-survice-parent{
        max-width: 1100px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 25px;
    }
    .survice-title{
        text-align: center;
        color: white;
        padding: 40px 0;
        letter-spacing: 4px;
    }
    .single-survice{
        background-color: white;
        text-align: center;
        color: black;
        padding: 30px 20px;
        border-radius: 5px;
        border: 3px solid green;
        box-shadow: 5px 5px 10px gray;
    }
    .single-survice i{
        font-size: 40px;
    }
    .single-survice h2{
        margin: 10px 0;
    }
    /* second section code start here */
    .second-section{
        background-color: #154360;
        padding: 50px 0 100px 0;
    }
    .Smart-Area{
        text-align: center;
        color: yellow;
        letter-spacing: 4px;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .smart-area-parent{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1000px;
        margin: 0 auto;
       
    }
    .image-section img{
        
    }
    .text-section{
        color: white;
        flex: 1;
        
    }
    .text-section p{
        text-align: justify;
        line-height: 1.2em;
    }
    .text-section h2{
        margin: 20px 0;
        font-size: 30px;
    }
    .text-section h4{
        text-transform: uppercase;
    }
    .text-section a{
        text-decoration: none;
        background-color: bisque;
        padding: 10px 15px;
        font-size: 20px;
        display: inline-block;
        margin-top: 25px;
        border-radius: 5px;
    }
    /* third section code start */
     #third-section{
        background-image: url(images/dark2.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding: 130px 0;
       
      
    }
    .third-section-parent{
        display: flex;
        max-width: 1000px;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        color: white;

    }
    .about-text h4{
        font-size: 20px;
        margin-bottom: 20px;

    }
    .about-text ul{
        margin: 20px 0;
        list-style-position: inside;
    }
    .about-text a{
        text-decoration: none;
        background-color: yellow;
        padding: 10px 20px;
        text-transform: uppercase;
        border-radius: 4px;
        color: black;
        display: inline-block;
        margin-top: 15px;
    }
    .four-card-parent{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
    }
    .single-items-card{
        background-color: #eaecee;
        text-align: center;
        color: black;
        padding: 40px 20px;
        border-radius: 4px;
        border: 2px solid lightgreen;
    }
    .single-items-card h4{
        font-size: 20px;
        padding: 10px 0 20px 0;
        font-weight: bold;

    }
   

    /* forth section code start */
    #fourth-section{
        background-color: #154360;
        padding: 100px 0;
        color: white;
    }
  

.fourth-section-parent{
    width: 1000px;           
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 0 auto;
}

.single-parent{
    flex: 1;                 /* দুইটা div সমান জায়গা নেবে */
}
.image-box img{
    width: 100%;
    height: auto;
    display: block;
     }
.single-parent p{
    margin: 20px 0;
    line-height: 1.3;
    text-align: justify;
}
.single-parent h3{
    font-size: 25px;
    padding-bottom: 20px;

    border-bottom: 2px solid red;
    margin: 20px 0;
}
.single-parent h2{
    margin-top: 10px;
}
.single-parent a{
    text-decoration: none;
    background-color: #eaecee;
    color: black;
    padding: 10px 20px;
    border-radius: 15px;
    margin-top: 10px;
    display: inline-block;
    border: 1px solid black;
    transition: 0.3s;
    
}
.single-parent a:hover{
    background-color: wheat;
}
.all-icons a{
    display: inline-block;
    margin: 0 5px;
    
}
.all-icons{
    text-align: center;
}
/* contact section code start */
#contact-section{
    background-image: url(images/contact3.webp);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    

    }

    form{
        background-color: #2e357a;
        max-width: 50%;
        margin: 0 auto;
        padding: 40px;
        border: 3px solid #4497d3;
    }
    form h2{
        color: white;
        text-align: center;
        text-transform: capitalize;
        font-size: 30px;
        letter-spacing: 0.1em;

    }
    form p{
        color: white;
        text-align: center;
        word-spacing: 0.1em;
        margin: 20px 0;

    }
    .input-type{
        display: block;
        width: 100%;
        height: 40px;
        margin: 20px 0;
        background: none;
        border: none;
        outline: none;
        border-bottom: 2px solid #449703;
        color: white;
        font-weight: bold;
        
    }
    .submit-btn{
        display: block;
        margin: 0 auto;
        padding: 5px 25px;
        background: none;
        outline-style: ridge;
        color: white;
        margin-top: 40px;
        transition: 1.5s;
    }
    .submit-btn:hover{
        background-color: #1c2833;
    }
    /* sixth section code start here */
    #sixth-section{
        background-color: #1c2833;
        color: white;
        padding: 100px 0;
    }
    .six-card-parent{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: 1000px;
        margin: 0 auto;
        grid-gap: 30px;
    }
    .first-box{
        border: 4px solid #4497d3;
        padding: 20px;
    }
    .first-box i{
        font-size: 35px;
        margin: 0 20px 10px 20px;
    }
    .first-box h5{
        font-size: 17px;
        text-transform: capitalize;
        margin-bottom: 15px;
    }
    .first-box p{
        font-size: 14px;
        color: #a4cae6;
    }
    .first-box:nth-child(2){
        border: 4px solid white;

    }
    .some-text{
        letter-spacing: 0.1em;
        line-height: 1.5;
    }
    /* seventh section code start her */
    #seven-section{
        padding: 100px 0;
    }
    .seventh-sec-parent{
        max-width: 1000px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;

    }
     .image-section img{
        width: 100%;
        flex: 1;
    }
    .ul-list-section h3{
        font-size: 35px;
    }
    .ul-list-section p{
        margin: 15px 0;
    }
    .ul-list-section ul li{
        list-style-position: inside;
        margin: 10px 0;
    }
    /* footer section code start */
    #footer-section{
        background-color: #154360;
        color: white;
        padding: 100px 0 50px 0;
    }
    .footer-parent{
        max-width: 1000px;
        display: flex;
        margin: 0 auto;
        gap: 70px;


    }
    .single-footer{
        width: 100%;
    }
    .single-footer h5{
        padding-bottom: 30px;
        letter-spacing: 2.5px;
        font-size: 18px;
    }
    .single-footer p{
        margin: 15px;
       
    }
    .single-footer a{
        color: white;
         text-decoration: none;
    }
    .single-footer ul{
        display: flex;
    }
    .single-footer ul li{
        list-style: none;
        padding: 10px;
    }
    .single-footer ul li a{
        text-decoration: none;
        background-color: #0a273863;
        padding: 3px;
    }
    .single-footer h5 span{
        color: yellow;
    }





    
   





    /* resposive code start here */
    @media only screen and (max-width: 940px) {
        .menu-bar{
            display: block;
        }
        nav ul{
            position: fixed;
            background-color: #1c2833;
            top: 70px;
            left: -100%;
            height: 100vh;
            width: 100%;
            padding-top: 40px;
            flex-direction: column;
            text-align: center;
            transition: all 0.5s ease;

        }
        #click:checked ~ .menu-bar i::before{
            content: "\f00d";
        }
        #click:checked ~ ul{
            left: 0%;
        }
        nav ul li{
            margin: 20px 0;
        }
        nav ul li a{
            font-size: 20px;
        }
        nav ul li a:hover, nav ul li a.active{
            background: none;
            color: red;
        }

    }
    /* main tag of first section media quary */
     @media only screen and (max-width: 1050px) {
    .all-survice-parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        gap: 15px;
    }
    .image-section img{
        width: 100%;
        margin-bottom: 50px;
    }
    .smart-area-parent{
       display: block;
       margin-left: 50px;
       margin-right: 50px;
       }
       /* third section start */
       .third-section-parent{
        display: block;
        
       }
       .four-card-parent{
        display: grid;
        grid-template-columns: 1fr;
       }
       .about-text{
        margin-left: 30px;
       }
       .about-text a{
        margin-bottom: 20px;
       }
       /* fourth section start */
       .fourth-section-parent{
        display: flex;
        width: 100%;
        padding-left: 50px;
        padding-right: 50px;
       }
       form{
        max-width: 95%;
       }
       /* six section start */
       .six-card-parent{
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        padding: 0 20px;

       }
       /* seven section code start */
       .seventh-sec-parent{
        display: block;
        padding-left: 40px;
        padding-right: 40px;
    }
    .ul-list-section{
        padding-bottom: 60px;
    }
    /* footer section start */
    .footer-parent{
        padding-left: 40px;
        padding-right: 40px;
    }
       
    }



@media only screen and (max-width: 650px) {
    .all-survice-parent {
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .image-section img{
        width: 100%;
        margin-bottom: 30px;
    }
    .smart-area-parent{
        display: block;
        margin-left: 20px;
        margin-right: 20px;
       }
       /* third section start */
       .third-section-parent{
        display: block;
       
       
       }
       .four-card-parent{
        grid-template-columns: 1fr;
       }
       .about-text{
        margin-left: 10px;
       }
       .about-text a{
        margin-bottom: 20px;
       }
       /* fouth section start */
       .fourth-section-parent{
        display: block;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
       }
       .all-icons{
        text-align: left;
       }
       /* contact section */
       form{
        max-width: 80%;
       

       }
       /* six section start */
       .six-card-parent{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        
       }
       .some-text{
        text-align: center;
       
    }
    /* seventh section code start */
    .seventh-sec-parent{
        display: block;
        padding-left: 20px;
        padding-right: 20px;
    }
    .ul-list-section{
        padding-bottom: 50px;
    }
    /* footer section start */
    .footer-parent{
        display: flex;
        flex-direction: column;
    }
    .single-footer{
        text-align: center;
    }
    .single-footer ul{
        display: flex;
        justify-content: center;
    }

    }
       
        

    
    

