*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
nav{
    display: flex;
    background-color: #1c2833;
    align-items: center;
    height: 70px;
    width: 100%;
    justify-content: space-between;
    padding: 0px 80px 0px 15px;
}
.hossain img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid red;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style-type: none;
    margin: 0 10px;
}
nav ul li a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    color: white;
    padding: 5px 8px;
    border-radius: 2px;
    transition: 0.5s;
    text-transform: uppercase;
}

nav ul li a:hover, nav ul li a.active{
    background-color: #566573;
    }
    #click{
        display: none;
    }
    .menu-bar{
        color: white;
        font-size: 20px;
        cursor: pointer;
        display: none;
    }
    /* resposive code start here */
    @media only screen and (max-width: 940px) {
        .menu-bar{
            display: block;
        }
        nav ul{
            position: fixed;
            background-color: #1c2833;
            top: 70px;
            left: -100%;
            height: 100vh;
            width: 100%;
            padding-top: 40px;
            flex-direction: column;
            text-align: center;
            transition: all 0.5s ease;

        }
        #click:checked ~ .menu-bar i::before{
            content: "\f00d";
        }
        #click:checked ~ ul{
            left: 0%;
        }
        nav ul li{
            margin: 55px 0;
        }
        nav ul li a{
            font-size: 20px;
        }
        nav ul li a:hover, nav ul li a.active{
            background: none;
            color: red;
        }

    }