*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
nav{
    display: flex;
    background-color: #1c2833;
    align-items: center;
    height: 70px;
    width: 100%;
    justify-content: space-between;
    padding: 0px 80px 0px 15px;
}
.hossain img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid red;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style-type: none;
    margin: 0 10px;
}
nav ul li a{
    text-decoration: none;
    font-size: 10px;
    font-weight: 700;
    color: white;
    padding: 5px 8px;
    border-radius: 2px;
    transition: 0.5s;
    text-transform: uppercase;
}

nav ul li a:hover, nav ul li a.active{
    background-color: #566573;
    }
    #click{
        display: none;
    }
    .menu-bar{
        color: white;
        font-size: 20px;
        cursor: pointer;
        display: none;
    }
    /* header section code start here */
    header{
        background-image: url(images/sea.png);
        height: 91vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

    }
    /* first section code start */
    #first-section{
        background-color: #1c2833;
        padding-bottom: 80px;
    }
    .all-survice-parent{
        max-width: 1100px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 25px;
    }
    .survice-title{
        text-align: center;
        color: white;
        padding: 40px 0;
        letter-spacing: 4px;
    }
    .single-survice{
        background-color: white;
        text-align: center;
        color: black;
        padding: 30px 20px;
        border-radius: 5px;
        border: 3px solid green;
        box-shadow: 5px 5px 10px gray;
    }
    .single-survice i{
        font-size: 40px;
    }
    .single-survice h2{
        margin: 10px 0;
    }
    /* second section code start here */
    .second-section{
        background-color: #154360;
        padding: 50px 0 100px 0;
    }
    .smart-area-parent{
        display: flex;
        justify-content: space-between;
        align-items: center;
       max-width: 1100px;
        margin: 0 auto;
       
    }
    .text-section{
        color: white;
    }
    .text-section h2{
        margin: 20px 0;
        font-size: 30px;
    }
    .text-section h4{
        text-transform: uppercase;
    }
    .text-section a{
        text-decoration: none;
        background-color: bisque;
        padding: 10px 15px;
        font-size: 20px;
        display: inline-block;
        margin-top: 25px;
        border-radius: 5px;
    }






    /* resposive code start here */
    @media only screen and (max-width: 940px) {
        .menu-bar{
            display: block;
        }
        nav ul{
            position: fixed;
            background-color: #1c2833;
            top: 70px;
            left: -100%;
            height: 100vh;
            width: 100%;
            padding-top: 40px;
            flex-direction: column;
            text-align: center;
            transition: all 0.5s ease;

        }
        #click:checked ~ .menu-bar i::before{
            content: "\f00d";
        }
        #click:checked ~ ul{
            left: 0%;
        }
        nav ul li{
            margin: 55px 0;
        }
        nav ul li a{
            font-size: 20px;
        }
        nav ul li a:hover, nav ul li a.active{
            background: none;
            color: red;
        }

    }
    /* main tag of first section media quary */
     @media only screen and (max-width: 950px) {
    .all-survice-parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        gap: 15px;
    }
    .image-section img{
        width: 100%;
    }
    .smart-area-parent{
       display: block;
       margin-left: 50px;
       margin-right: 50px;
       

    }

   
 }



@media only screen and (max-width: 580px) {
    .all-survice-parent {
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .image-section img{
        width: 100%;
    }
    .smart-area-parent{
        display: block;
        margin-left: 20px;
        margin-right: 20px;
       
       
    }
    

    }
       
        

    
    

